<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EAI Inquiry</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Please Enter a destination</h3>
	<form action="#" th:action="@{/eaiRequest}" th:object="${eaiRequest}"
		method="post">
		<p id="eai">
			Destination: <input type="text" th:field="*{EAI}" />
		</p>
		<p>
			<input id="one" type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>
